<!DOCTYPE html>
<html lang="pl">
	<head>
        {% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
		<title>PORTAL OGŁOSZENIOWY</title>
	</head>
	<body>
		<h1>PORTAL OGŁOSZENIOWY</h1>
		{% load pluralize_pl %}
		<p>Napisano {{posts.count}} {{posts| pluralize_pl:'post, posty, postów'}}</p>

		<!-- KROK 5
    przygotowanie informacji aby pojawiły się na stronie -->
		<div>
			{% for post in posts %}
			<a href="{% url 'detail' post.id %}"><h2>{{post.title}}</h2></a>
		<!-- taki sposób zapisu powoduje, ze linkuje nam się tylko to co jest wewnątrz a -->
			<p>Data publikacji: {{post.date}}</p>
			<h3>{{post.text|truncatechars:60}}</h3>
		<!-- |truncatechars:60 powoli na wyswietlenie tylko 60 pierwszych znaków -->
			<h4>Kategoria ważności: {{post.category}}</h4>
			{% endfor %}
			
		
        	
        </div>
	</body>
</html>
